<div class="preloader flex-column justify-content-center align-items-center">
  <%= image_tag 'dist/img/AdminLTELogo.png', class: 'animation__shake', alt: 'AdminLTELogo', height: '60', width: '60' %>
</div>