<%= render FormComponent.new(
  title: title,
  subtitle: subtitle,
  url: url,
  form: form,
  method: method
) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.form_with.label :nome, "Nome" %>
        <%= f.text_field :nome, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>

