<%= render FormComponent.new(
  title: title,
  subtitle: subtitle,
  url: url,
  form: form,
  method: method,
  submit_text: submit_text
) do |form_create| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form_create.label :nome, "Nome" %>
        <%= form_create.text_field :nome, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>

