<%= render FormComponent.new(
  title: title,
  subtitle: subtitle,
  url: url,
  form: form,
  method: method,
  submit_text: submit_text
) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.form.label :nome, "Nome" %>
        <%= f.form.text_field :nome, class: "form-control #{'is-invalid' if form.errors[:nome].any?}" %>
        <span class="text-danger"><%= form.errors[:nome].first %></span>
      </div>
    </div>
  </div>
<% end %>

