<footer class="main-footer bg-red font-weight-bold text-uppercase">
  <strong>&copy; 2026-<%= Time.current.year %></strong>
  <div class="float-right d-none d-sm-inline-block">
    Versão 1.0.0
  </div>
</footer>